Repository manuphatak/HaskellAdventOfCode2020, pull requests merged in 2020-12, with the labels that each got.

#20 Update CI to cache after tests
  .circleci/config.yml
Labels: repo

#19 Solve Day 11
  AdventOfCode2020.cabal
  src/Advent/Utils.hs
  src/Day07/Solution.hs
  src/Day08/Solution.hs
  src/Day11/README.md
  src/Day11/Solution.hs
  test/Advent/UtilsSpec.hs
  test/Day07/SolutionSpec.hs
  test/Day11/SolutionSpec.hs
  test/Day11/example.txt
  test/Day11/input.txt
Labels: solution

#22 Update codecov project threshold
  codecov.yml
Labels: repo

#23 Solve Day 13
  AdventOfCode2020.cabal
  src/Day13/README.md
  src/Day13/SOLUTION.md
  src/Day13/Solution.hs
  src/Day13/img/day_13_code.png
  src/Day13/img/day_13_solution.png
  test/Day13/SolutionSpec.hs
  test/Day13/example.txt
  test/Day13/input.txt
Labels: solution

#24 Solve Day 14
  AdventOfCode2020.cabal
  src/Day14/README.md
  src/Day14/Solution.hs
  test/Day14/SolutionSpec.hs
  test/Day14/example-1.txt
  test/Day14/example-2.txt
  test/Day14/input.txt
Labels: solution

#27 Update repo name
  .envrc.sample
  AdventOfCode2020.cabal
  README.md
  bin/ghc
  bin/hlint
  bin/hspec-discover
  package.yaml
Labels: repo

#28 Add hspec-discover to PATH
  .envrc.sample
  bin/stack/hspec-discover
  test/Template/SolutionSpec.hs
  test/Template/input.txt
Labels: repo

#26 Solve Day 16
  AdventOfCode2020.cabal
  src/Day16/Parser.hs
  src/Day16/README.md
  src/Day16/Solution.hs
  src/Day16/Utils.hs
  test/Day16/SolutionSpec.hs
  test/Day16/UtilsSpec.hs
  test/Day16/example-1.txt
  test/Day16/example-2.txt
  test/Day16/input.txt
Labels: solution

#29 Create Advent.Parser for shared parsers
  AdventOfCode2020.cabal
  src/Advent/Parser.hs
  src/Day02/Parser.hs
  src/Day08/Solution.hs
  src/Day13/Solution.hs
  src/Day14/Solution.hs
  src/Day16/Parser.hs
  src/Day16/Utils.hs
  test/Advent/ParserSpec.hs
  test/Day16/UtilsSpec.hs
Labels: refactor

#30 Solve Day 17
  AdventOfCode2020.cabal
  src/Day17/README.md
  src/Day17/Solution.hs
  test/Day17/SolutionSpec.hs
  test/Day17/example.txt
  test/Day17/input.txt
Labels: solution

#31 Solve Day 18
  .golden/Day18.Solution.parseExpression_example_advanced_0/actual
  .golden/Day18.Solution.parseExpression_example_advanced_0/golden
  .golden/Day18.Solution.parseExpression_example_advanced_1/actual
  .golden/Day18.Solution.parseExpression_example_advanced_1/golden
  .golden/Day18.Solution.parseExpression_example_advanced_2/actual
  .golden/Day18.Solution.parseExpression_example_advanced_2/golden
  .golden/Day18.Solution.parseExpression_example_advanced_3/actual
  .golden/Day18.Solution.parseExpression_example_advanced_3/golden
  .golden/Day18.Solution.parseExpression_example_advanced_4/actual
  .golden/Day18.Solution.parseExpression_example_advanced_4/golden
  .golden/Day18.Solution.parseExpression_example_advanced_5/actual
  .golden/Day18.Solution.parseExpression_example_advanced_5/golden
  .golden/Day18.Solution.parseExpression_example_advanced_6/actual
  .golden/Day18.Solution.parseExpression_example_advanced_6/golden
  .golden/Day18.Solution.parseExpression_example_basic_0/actual
  .golden/Day18.Solution.parseExpression_example_basic_0/golden
  .golden/Day18.Solution.parseExpression_example_basic_1/actual
  .golden/Day18.Solution.parseExpression_example_basic_1/golden
  .golden/Day18.Solution.parseExpression_example_basic_2/actual
  .golden/Day18.Solution.parseExpression_example_basic_2/golden
  .golden/Day18.Solution.parseExpression_example_basic_3/actual
  .golden/Day18.Solution.parseExpression_example_basic_3/golden
  .golden/Day18.Solution.parseExpression_example_basic_4/actual
  .golden/Day18.Solution.parseExpression_example_basic_4/golden
  .golden/Day18.Solution.parseExpression_example_basic_5/actual
  .golden/Day18.Solution.parseExpression_example_basic_5/golden
  .golden/Day18.Solution.parseExpression_example_basic_6/actual
  .golden/Day18.Solution.parseExpression_example_basic_6/golden
  AdventOfCode2020.cabal
  package.yaml
  src/Day18/Internal.hs
  src/Day18/README.md
  src/Day18/Solution.hs
  test/Day18/SolutionSpec.hs
  test/Day18/input.txt
Labels: solution

#33 Harvest parseInts util
  src/Advent/Utils.hs
  src/Day09/Solution.hs
  src/Day09/Utils.hs
  test/Advent/UtilsSpec.hs
  test/Day09/SolutionSpec.hs
  test/Day09/UtilsSpec.hs
Labels: refactor

#18 Solve Day 10
  AdventOfCode2020.cabal
  src/Day10/NOTES.md
  src/Day10/README.md
  src/Day10/Solution.hs
  test/Day10/SolutionSpec.hs
  test/Day10/example-1.txt
  test/Day10/example-2.txt
  test/Day10/input.txt
Labels: solution

#34 Solve Day 20
  AdventOfCode2020.cabal
  src/Day20/README.md
  src/Day20/Solution.hs
  test/Day20/SolutionSpec.hs
  test/Day20/example.txt
  test/Day20/input.txt
Labels: solution
